{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img style="height: 350px; width:400px" src="{{post.image}}" alt="">
        </div>
        <div class="col-lg-6">
            <h5>{{post.title}}</h5>
            <p>{{post.content}}</p>
            <small>{{post.crated_at}} / <span>Author :<strong> {{post.user}}</strong></span></small>
            <p>Category : {{post.category.name}}</p>
        </div>
    </div>
    <hr>
    <h4>Comments..</h4>
    {% for comment in post.comments.all %}
    <p>
        <strong>{{comment.name}}</strong><small> {{comment.crated_at}}</small>
        <br>
        {{comment.description}}
    </p>
    {% empty %}
    <p>No comment yet!</p>
    {% endfor%}
    <hr>
    <p>Leave comment ...</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Submit</button>
    </form>


</div>
{% endblock %}